/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-light-grey-1: #faf9f9;
  --color-light-grey-2: #f4f2f2;
  --color-light-grey-3: #f0eeee;
  --color-light-grey-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.1);
  --line: 1px solid var(--color-light-grey-2); }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

::selection {
  color: var(--color-primary); }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  color: var(--color-grey-dark-1);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }
  @media only screen and (max-width: 68.75em) and (orientation: portrait) {
    body {
      display: flex;
      align-items: center; } }
  @media only screen and (min-width: 75em) {
    body::after {
      content: "2021 by AIO. All rights reserved.";
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      margin-bottom: 2.5rem; } }

@keyframes pulsate {
  0% {
    transform: scale(1);
    color: var(--color-dark-grey-1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    color: var(--color-primary);
    box-shadow: 0 1.2rem 1rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    color: var(--color-dark-grey-1);
    box-shadow: none; } }

@keyframes pulsate-cta-button {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1.2rem 1rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }
  @media only screen and (max-width: 29.6875em) {
    .logo {
      height: 3rem; } }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: var(--color-light-grey-2); } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-light-grey-2);
    color: inherit;
    padding: 1rem 2rem;
    border: none;
    border-radius: 100px;
    width: 90%;
    transition: all .4s;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-light-grey-3); }
    .search__input::-webkit-input-placeholder, .search__input::input-placeholder {
      font-weight: 100;
      color: var(--color-light-grey-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-light-grey-3); }
  .search__button {
    border: none;
    background-color: var(--color-light-grey-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 29.6875em) {
      .user-nav > * {
        padding: 0 1rem; } }
  .user-nav > *:hover {
    background: var(--color-light-grey-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    font-size: .8rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
  @media only screen and (max-width: 37.5em) {
    .side-nav {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 20.625em) {
    .side-nav {
      font-size: 1rem; } }
  .side-nav__item::before {
    content: "";
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.2s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-light-grey-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem .5rem; } }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin: 0 0 .7rem 0;
        width: 1.5rem;
        height: 1.5rem; } }

.footer__copyright {
  padding: 0.6rem; }
  .footer__copyright > * {
    text-align: center;
    color: #fff;
    font-size: 1rem; }
  .footer__copyright > *:hover {
    color: var(--color-primary-light); }
  @media only screen and (max-width: 56.25em) {
    .footer__copyright {
      display: none; } }

.footer__link:link, .footer__link:visited {
  color: #fff;
  text-decoration: none; }

.legal {
  display: flex;
  justify-content: center; }
  .legal__text {
    color: #fff;
    padding: 2.5rem 2rem;
    font-size: 1.5rem;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8); }
  @media only screen and (max-width: 75em) {
    .legal {
      margin: 0;
      display: none; } }

.footer {
  font-size: 1.5rem; }
  @media only screen and (max-width: 29.6875em) {
    .footer {
      font-size: 1.1rem;
      font-weight: 600; } }
  @media only screen and (max-width: 23.4375em) {
    .footer {
      font-size: .9rem; } }
  @media only screen and (max-width: 20.625em) {
    .footer {
      font-size: .6rem; } }
  .footer-left {
    background-color: var(--color-primary);
    color: #fff;
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer-left__link {
      color: #fff; }
      .footer-left__link:link, .footer-left__link:visited {
        text-decoration: none; }
  .footer-right {
    background-color: var(--color-grey-dark-1);
    color: var(--color-light-grey-1);
    flex: 1;
    padding: 2rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      margin-top: 3rem; } }

.gallery {
  display: flex;
  position: relative; }
  .gallery__photo {
    width: 100%;
    display: block; }
  @media only screen and (max-width: 37.5em) {
    .gallery {
      flex-direction: column; } }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);
  flex-wrap: wrap; }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 2rem; } }
    @media only screen and (max-width: 31.25em) {
      .overview__heading {
        font-size: 1.6rem;
        padding: 1.5rem 2rem; } }
    @media only screen and (max-width: 29.6875em) {
      .overview__heading {
        font-size: 1.3rem;
        padding: 1.3rem 1.5rem; } }
    @media only screen and (max-width: 23.4375em) {
      .overview__heading {
        font-size: 1rem;
        padding: 1rem 1.3rem; } }
  .overview__stars {
    margin-right: auto;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 20.625em) {
      .overview__stars {
        margin-right: 0; } }
  .overview__stars-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
    @media only screen and (max-width: 29.6875em) {
      .overview__stars-icon {
        width: 1.3rem;
        height: 1.3rem; } }
    @media only screen and (max-width: 23.4375em) {
      .overview__stars-icon {
        width: 1rem;
        height: 1rem; } }
  .overview__location {
    align-self: stretch;
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 20.625em) {
      .overview__location {
        order: 1;
        flex: 0 0 35%;
        margin: 3rem 0 1rem 50%;
        transform: translate(-25%, -50%); } }
    .overview__location-icon {
      width: 1.75rem;
      height: 1.75rem;
      fill: var(--color-primary);
      margin-right: .5rem; }

.rating {
  background-color: var(--color-primary);
  color: #fff;
  margin-left: 3rem;
  padding: 0 2.25rem;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .rating {
      padding: 1rem 1.5rem; } }
  @media only screen and (max-width: 20.625em) {
    .rating {
      flex: 1; } }
  .rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -5px; }
    @media only screen and (max-width: 37.5em) {
      .rating-average {
        font-size: 1.8rem;
        margin-bottom: 1px; } }
    @media only screen and (max-width: 31.25em) {
      .rating-average {
        font-size: 1.6rem;
        margin-bottom: 0; } }
    @media only screen and (max-width: 29.6875em) {
      .rating-average {
        font-size: 1.4rem; } }
  .rating-count {
    font-size: .9rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .rating-count {
        font-size: .5rem; } }
    @media only screen and (max-width: 31.25em) {
      .rating-count {
        font-size: 1rem; } }

.btn-inline {
  border: none;
  color: var(--color-primary);
  background-color: transparent;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  cursor: pointer;
  transition: all .2s; }
  @media only screen and (max-width: 68.75em) {
    .btn-inline {
      font-size: 2.3rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn-inline {
      font-size: 2rem; } }
  @media only screen and (max-width: 31.25em) {
    .btn-inline {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 29.6875em) {
    .btn-inline {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 23.4375em) {
    .btn-inline {
      font-size: 1rem; } }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--color-dark-grey-1); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

@media only screen and (max-width: 68.75em) {
  .paragraph::after {
    content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate."; } }

@media only screen and (max-width: 37.5em) {
  .paragraph::after {
    content: ""; } }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    background-image: url(/img/chevron-thin-right.svg);
    background-size: cover; }
    @supports (-webkit-mask: url()) or (mask: url()) {
      .list__item::before {
        background-color: var(--color-primary);
        -webkit-mask: url(/img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask: url(/img/chevron-thin-right.svg);
        mask-size: cover;
        background-image: none; } }

.recommend {
  font-size: 1.3rem;
  color: var(--color-dark-grey-3);
  display: flex;
  align-items: center; }
  .recommend__count {
    margin-right: auto; }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    box-sizing: content-box; }
    .recommend__photo:not(:last-child) {
      margin-right: -2rem; }

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 1.5rem;
      margin-bottom: 3rem; } }
  .review__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review__user-box {
    margin-right: auto; }
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem; }
  .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3); }
  .review__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -3.2rem;
    left: -0.75rem;
    font-size: 20rem;
    color: var(--color-light-grey-2);
    font-family: sans-serif;
    line-height: 1;
    z-index: 1; }

@media only screen and (max-width: 37.5em) {
  .review-1 {
    margin-top: 3.5rem; } }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0 0 0; } }
  @media only screen and (max-width: 37.5em) {
    .cta {
      padding: 6rem 0 0 0;
      margin-top: 1rem; } }
  @media only screen and (max-width: 31.25em) {
    .cta {
      padding: 4rem 0 0 0; } }
  @media only screen and (max-width: 23.4375em) {
    .cta {
      padding: 2rem 0 0 0; } }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 29.6875em) {
      .cta__book-now {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 23.4375em) {
      .cta__book-now {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 20.625em) {
      .cta__book-now {
        font-size: 1rem; } }

.btn {
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  @media only screen and (max-width: 29.6875em) {
    .btn {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 23.4375em) {
    .btn {
      font-size: 1rem; } }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
    @media only screen and (max-width: 29.6875em) {
      .btn__visible {
        padding: 1.5rem 5.5rem; } }
    @media only screen and (max-width: 23.4375em) {
      .btn__visible {
        padding: 1rem 3.5rem; } }
  .btn__invisible {
    position: absolute;
    left: 0;
    top: -100%;
    padding: 2rem 0; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:focus {
    outline: none;
    animation: pulsate-cta-button 1s infinite; }

.container {
  background-color: var(--color-light-grey-1);
  box-shadow: var(--shadow-dark); }
  @media only screen and (min-width: 75em) {
    .container {
      margin: 8rem auto;
      max-width: 120rem; } }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }
  @media only screen and (max-width: 31.25em) {
    .container {
      box-shadow: none;
      overflow: auto; } }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .header {
      flex-wrap: wrap;
      height: 11rem;
      align-content: space-around; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      flex: 0; } }

@media only screen and (max-width: 56.25em) {
  .side-nav {
    display: flex;
    margin: 0; } }

@media only screen and (max-width: 56.25em) {
  .side-nav > * {
    flex: 1; } }

.hotel-view {
  flex-grow: 1; }

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-light-grey-2);
  border-bottom: var(--line); }
  @media only screen and (max-width: 68.75em) {
    .detail {
      padding: 4.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      display: flex;
      flex-direction: column; } }
  @media only screen and (max-width: 29.6875em) {
    .detail {
      padding: 2rem; } }
  @media only screen and (max-width: 20.625em) {
    .detail {
      padding: 1rem;
      font-size: 1.2rem; } }

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem; }
  @media only screen and (max-width: 68.75em) {
    .description {
      padding: 5.3rem; } }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 2rem;
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0; } }
  @media only screen and (max-width: 20.625em) {
    .description {
      padding: 1rem; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .user-reviews {
      flex: 0;
      display: flex; } }

.footer {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      display: flex;
      justify-content: space-around;
      align-items: center; } }
