///////////////////////////////////////////////////////////// 
//////////// Media Queries BreakPoints   
$bp-largest: 75em;   // 1200px i.e., 1200px / 16px = 75em
$bp-large: 68.75em;  // 1100px i.e., 1100px / 16px = 68.75em
$bp-medium: 56.25em;  //900px i.e., 900px / 16px = 56.25em
$bp-small: 37.5em; //600px i.e., 600px / 16px = 37.5em
$bp-mobile: 31.25em; //500px i.e., 500px /16px = 31.25em
$bp-md-mobile: 29.6875em; //475px i.e., 475px / 16px = 29.6875em
$bp-sm-mobile: 23.4375em; //375px i.e., 375px / 16px = 23.4375em
$bp-vsm-mobile: 20.625em; //330px i.e., 330px / 16px = 20.625em