///////////////////////////////////////////
//// Logo
.logo{
    height: 3.25rem;
    margin-left: 2rem;

    @media only screen and (max-width: $bp-md-mobile){
        height: 3rem;
    }
}

///////////////////////////////////////////
//// Search
.search{

    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and(max-width: $bp-small){
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color-light-grey-2);

    }

    &__input{
        font-family: inherit;
        font-size: inherit;
        background-color: var(--color-light-grey-2);
        color: inherit;
        padding: 1rem 2rem;
        border: none;
        border-radius: 100px;
        width: 90%;
        transition: all .4s;
        margin-right: -3.5rem;

        &:focus{
            outline: none;
            width: 100%;
            background-color: var(--color-light-grey-3);
        }

        &::-webkit-input-placeholder,
        &::input-placeholder{
            font-weight: 100;
            color: var(--color-light-grey-4);
        }
    }

    &__input:focus + &__button{
        background-color: var(--color-light-grey-3);
    }

    &__button{
        border: none;
        background-color: var(--color-light-grey-2);

        &:focus{
            outline: none;
        }

        &:active{
            transform: translateY(2px);
        }
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

///////////////////////////////////////////
//// User Naviagation
.user-nav{
    align-self: stretch;
    // background-color:blue;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-small){
        height: 65%;
    }


    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        

        @media only screen and (max-width: $bp-sm-mobile){
            padding: 0 1.5rem;
        }
    }

    & > *:hover{
        background: var(--color-light-grey-2);
    }

    transition: all 5s;

    &__icon-box{
        // display: flex;
        // align-items: center;
        position: relative;
      

        &-1::before{
            content: "You have bookmarked 3 hotels";
            position: absolute;
            top: 5rem;
            right: -3rem;
            display: block;
            width: 234%;
            background-color: var(--color-primary);
            color: #fff;
            outline: none;
            border-radius: 3px;
            font-weight: bold;
            padding: 1rem;
            z-index: 12;
            opacity: 0;
            visibility: hidden;

        }

        &-2::after{
            content: "You have 7 new notifications";
            position: absolute;
            top: 5rem;
            right: -3rem;
            width: 234%;
            display: block;
            background-color: var(--color-primary);
            color: #fff;
            outline: none;
            border-radius: 3px;
            font-weight: bold;
            padding: 1rem;
            z-index: 12;
            opacity: 0;
            visibility: hidden;
        }

        &-1:hover::before{
            opacity: 1;
            visibility: visible;
        }

        &-2:hover::after{
            opacity: 1;
            visibility: visible;
        }
    }

  

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification{
        font-size: .8rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user{
        
        // display: flex;
        // align-items: center;
        position: relative;

        
        &-photo{
            height: 4rem;
            border-radius: 50%;
            margin-right: 1rem;
        }

        &-menu{
            position: absolute;
            top: 6.8rem;
            background-color: var(--color-grey-dark-1);
            color: #fff;
            z-index: 12;
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: all 1s;


        }

        &-menu-item{
            list-style: none;
            padding: 2rem;

            & > a{ 
                text-decoration: none;
                color: inherit;
            }

            &:nth-child(even){
                background-color: var(--color-primary);
                width: 100%;
                text-align: center;
            }
            
        }


        &:hover &-menu{
                opacity: 1;
                visibility: visible;
        }

    }


}
