//////////////////////////////////////////
///// Image Gallery

.gallery{
    display: flex;
    position: relative;

    &__item{
        flex: 1;
        position: relative;
        transition: all 1s;
        overflow: hidden;
    }

   

    &__photo{
        width: 100%;
        display: block;
        color: rgb(186, 38, 93);
    }

    &__caption{

        position: absolute;
        top: 0%;
        left: 0%;  
        bottom: 0;
        right: 0;

        background-color: rgba($color: #FF3366, $alpha: .7);
        opacity: 0;
        font-size: 2.5rem;
        color: #fff;

        //Centering Caption text
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__item:hover &__caption{
       animation: caption-animate 1s;
       opacity: 1;
    }


    @media only screen and (max-width: $bp-small){
        flex-direction: column;
    }
}









