//////////////////////////////////////////
///// Image Gallery

.gallery{
    display: flex;
    position: relative;

    &__item{
        flex: 1;
        position: relative;
    }

    &__photo{
        width: 100%;
        display: block;
    }

    @media only screen and (max-width: $bp-small){
        flex-direction: column;
    }
}









